
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

p, h1, h2, h3, h4, h5, h6, input, textarea {
  -webkit-user-select: text;
  user-select: text;
}

.min-h-screen {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@supports (-webkit-touch-callout: none) {
  input, select, textarea {
    font-size: 16px !important;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

* {
  -webkit-overflow-scrolling: touch;
}

a, button {
  touch-action: manipulation;
}

html, body {
  overscroll-behavior-y: none;
}

a, button, [role="button"] {
  touch-action: manipulation;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.overflow-y-auto, .overflow-x-auto {
  -webkit-overflow-scrolling: touch;
}